.portfolio-container {
    background-color: rgb(247, 251, 255);
}

.table-section {
    margin-top: 5em;
    margin-bottom: 5em;
    padding: 2em;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    border-color: rgb(185, 185, 185);
}

.total-container {
    margin-bottom: 3em;
}

.total-title {
    margin-right: .7em;
}

.add-coin-title {
    font-size: 1.5em;
    margin-right: 1em;
}

td button {
    float: right; 
    margin-left: 1em;
}

.currencyConverter {
    margin-top: 10em;
}

.coin-logo {
    margin-right: .8em;
}