@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Varela+Round&display=swap');

* {
    font-family: 'Archivo Black', sans-serif;
}

div {
    display: block;
}
.section {
    width: 100%;
    height: auto;
    overflow: hidden;
}
.container {
    max-width: 1500px;
    position: relative;
    width: calc(100vw - 50px);
    display: flex;
    align-items: center;
    justify-content: center;
}
.float-left {
    float: left;
    width: 50%;
}
.float-right {
    float: right; 
    width: 50%;

}
.remove-decoration {
    text-decoration: none;
    background-color: transparent;
    outline: none;
    border: 0;
    cursor: pointer;
}
.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
