.features-section {
    background-color: rgb(247, 251, 255);
}

.feature-container {
    background-color: white;
    padding: 3em 0 3em 0;

    max-width: 1400px;
    width: calc(100vw - 50px);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4em;

    border-style: solid;
    border-color: rgb(185, 185, 185);
    border-width: 1px;
    border-radius: 10px;
}

.description {
    margin: 0 3em 0 5em;
}
.title {
    padding-top: .8em; 
    padding-bottom: .3em;
    border-bottom: 1px solid rgb(185, 185, 185);
}
.subTitle {
    margin-top: 1.6em;
    margin-bottom: 1.5em; 
    font-size: 1.3em;
}

.video {
    margin-right: 3em;
}